h1{
    text-align: center;
}

.main-container{
    background-color: azure;
    margin: auto;
    width: 1100px;
    height: 1100px;
    border: solid 5px black;
}

table{
    background-color: white;
    margin: auto;
    width: 800px;
    height: 800px;
    border: solid 5px black;
}

table td{
    border: solid 5px black;
    height: 100px;
}

.table-aqua-bg{
    background-color: aqua;
}

.table-orange-bg{
    background-color: orange;
}

.table-red-bg{
    background-color: red;
}

.table-blue-bg{
    background-color: blue;
}

.table-yellow-bg{
    background-color: yellow;
}

.table-green-bg{
    background-color: green;
}