body {
  background-color: rgb(169, 173, 173);
}

.container {
  margin: auto;
  border: solid 5px black;
  width: 1000px;
  height: 800px;
}

.header {
  background-color: none;
}

.header-links-block {
  display: inline;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 35px;
}

.header-links {
  box-sizing: border-box;
  background-color: orange;
  border: solid 4px black;
  height: 50px;
  width: 300px;
  font-size: 18px;
  float: right;
  position: relative;
  bottom: 70px;
  margin-right: 20px;
}

.header-links-text {
  text-align: center;
  color: white;
}

.site-navigation {
  background-color: orange;
  border: solid 4px black;
  margin: auto 20px;
}

.site-navigation-text {
  color: white;
  size: 30px;
  text-align: center;
  position: relative;
  left: 100px;
}

.body {
  -moz-column-count: 2;
       column-count: 2;
  margin: 25px 0px;
  display: flex;
}

.left-vertical-blocks {
  display: block;
}

.three-left-vertical-blocks {
  background-color: orange;
  border: solid 4px black;
  margin: 25px 20px;
  width: 200px;
  height: 100px;
  text-align: center;
}

.right-vertical-blocks {
  display: block;
  margin-right: 5px;
  margin: 25px;
}

.two-right-vertical-blocks-large {
  width: 700px;
  height: 230px;
  background-color: orange;
  border: solid 4px black;
}

.two-right-vertical-blocks-small {
  width: 700px;
  height: 100px;
  margin-top: 25px;
  background-color: orange;
  border: solid 4px black;
}

.product-listing {
  text-align: center;
  position: relative;
  top: 80px;
}

.sub-category-list {
  text-align: center;
  position: relative;
  top: 10px;
}

.footer {
  display: flex;
}

.three-horizontal-blocks {
  border: solid 4px black;
  background-color: orange;
  width: 300px;
  margin: 0px 25px;
  text-align: center;
}

.horizontal-block-text {
  color: white;
}

h3 {
  text-align: center;
}/*# sourceMappingURL=style.css.map */