body{
    background-color: rgb(206, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2.top-text{
    text-align: center;
}

h2.bottom-text{
    text-align: center;
}

p{
    position: relative; top: 40px;
    text-align: center;
    font-size: 26px;
}

.margin{
    margin: auto;
    width: 800px;
    height: 560px;
    border: solid 3px rgb(91, 211, 171);
    background-color: aqua;
}

.border{
    margin: auto;
    width: 650px;
    height: 430px;
    border: solid 3px rgb(98, 153, 171);
    background-color: lightblue;
}

.padding{
    margin: auto;
    width: 500px;
    height: 300px;
    border: solid 3px rgb(98, 185, 98);
    background-color: lightgreen;
}

.content{
    margin: auto;
    width: 350px;
    height: 170px;
    border: solid 3px rgb(168, 165, 165);
    background-color: white;
}