body {
  background-color: azure;
}

header {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background-color: orange;
  height: 300px;
  width: auto;
  border: solid 3px black;
}

h1 {
  text-align: center;
  position: relative;
  top: 50px;
  font-size: 80px;
}

.orange-text-block {
  background-color: rgb(239, 172, 47);
  width: auto;
  height: 200px;
  padding: 10px;
}

.orange-box-text {
  margin: 0px;
  font-size: 22.5px;
  -moz-column-count: 2;
       column-count: 2;
}

.blocks-in-block {
  margin: 20px 0px;
  display: flex;
  height: auto;
  width: auto;
}

.first-block {
  margin: 5px;
  background-color: blue;
  border: solid 3px black;
}

.second-block {
  margin: 5px;
  background-color: blue;
  border: solid 3px black;
}

.third-block {
  margin: 5px;
  background-color: blue;
  border: solid 3px black;
  height: 200px;
}

.fourth-block {
  margin: 5px;
  background-color: blue;
  border: solid 3px black;
}

.lorem-text {
  margin: 5px;
  font-size: 20px;
  color: white;
}/*# sourceMappingURL=style.css.map */