.container {
  margin: auto;
  width: 800px;
  height: 700px;
  border: solid 4px red;
}

.first-block {
  background-color: rgb(177, 175, 175);
  border: solid 3px red;
  margin: auto 20px;
  padding: 10px;
}

.second-block {
  background-color: rgb(177, 175, 175);
  border: solid 3px red;
  margin: 10px 20px;
  padding: 10px;
}

.third-block {
  background-color: rgb(177, 175, 175);
  border: solid 3px red;
  margin: auto 20px;
  padding: 10px;
}

.fourth-block {
  display: flex;
  margin: 0px;
  width: auto;
  height: auto;
}

.fifth-block {
  background-color: rgb(177, 175, 175);
  border: solid 3px red;
  margin: auto 20px;
  padding: 10px;
}

.inline-blocks {
  border: 3px solid red;
  width: 150px;
  height: auto;
  margin: auto 20px;
  background-color: rgb(125, 124, 124);
}

.sixth-block {
  display: flex;
}

.second-inline-blocks {
  border: 3px solid red;
  width: 200px;
  height: auto;
  margin: 20px 20px 20px 20px;
  background-color: rgb(93, 92, 92);
}

.seventh-block {
  background-color: rgb(177, 175, 175);
  border: solid 3px red;
  margin: auto 20px;
  padding: 10px;
}

.eight-block {
  display: flex;
}

.second-text {
  text-align: center;
}

.third-text {
  text-align: center;
}/*# sourceMappingURL=style.css.map */