body {
  background-color: rgb(219, 249, 249);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.margin {
  margin: auto;
  border: dashed 3px grey;
  width: 800px;
  height: 550px;
  background-color: white;
}

.border {
  background-color: yellow;
  margin: auto;
  width: 700px;
  height: 400px;
}

.padding {
  background-color: rgb(188, 185, 185);
  margin: auto;
  width: 600px;
  height: 300px;
  position: relative;
  top: 20px;
}

.content {
  border: dashed 3px gray;
  background-color: white;
  margin: 50px;
  position: relative;
  top: 40px;
  width: 500px;
  height: 100px;
}/*# sourceMappingURL=style.css.map */