body {
  background-color: azure;
}

div.header {
  height: 200px;
  width: auto;
  background-color: green;
  padding: 30px;
  font-size: 25px;
  box-sizing: border-box;
}

h1 {
  color: white;
}

.body-block {
  display: flex;
  -moz-column-count: 2;
       column-count: 2;
}

.regions {
  display: block;
  margin: 30px;
}

.regions-name-blocks {
  width: 200px;
  height: 60px;
  background-color: rgb(42, 139, 243);
}

.regions-name {
  color: white;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
}

.body-text {
  margin: 40px 100px;
}

h2 {
  font-size: 35px;
}

.georgia-text {
  font-size: 22px;
}

.footer {
  height: 200px;
  width: auto;
  background-color: green;
  padding: 30px;
  font-size: 25px;
  box-sizing: border-box;
}

h3 {
  color: white;
  text-align: center;
  position: relative;
  top: 15px;
}/*# sourceMappingURL=style.css.map */