body{
    background-color: azure;
}

.container{
    background-color: #fdf3e1;
    border: solid 4px #05586a;
    margin: auto;
    width: 700px;
    height: 600px;
}

.first-div-block{
    margin: 25px;
    width: auto;
    height: 60px;
    background-color: #9ad2d8;
    border: solid 4px #312f48;
}

.first-block-head{
    text-align: center;
    font-size: 20px;
}

.second-div-block{
    display: flex;
}

.small-block{
    box-sizing: border-box;
    margin: 25px;
    width: 100px;
    height: 60px;
    background-color: #9ad2d8;
    border: solid 4px #312f48;
}

.medium-block{
    box-sizing: border-box;
    margin: 25px;
    width: 200px;
    height: 60px;
    background-color: #9ad2d8;
    border: solid 4px #312f48;
}

.large-block{
    box-sizing: border-box;
    margin: 25px;
    width: 300px;
    height: 60px;
    background-color: #9ad2d8;
    border: solid 4px #312f48;
}

.third-div-block{
    display: flex;
}

.fourth-div-block{
    display: flex;
}

.sixth-div-block{
    display: flex;
}

.text-center{
    text-align: center;
    font-size: 20px;
}

.students-name{
    font-size: 20px;
    margin: 15px
}

.text-number{
    font-size: 20px;
    margin: 15px
}

.courses-name{
    font-size: 20px;
    margin: 15px
}